@tailwind base;
@tailwind components;
@tailwind utilities;

.prose img {
  border-radius: 0.75rem;
}

@keyframes flicker {
  0%, 100% {
    opacity: 1;
  }
  10% {
    opacity: 0.3;
  }
  20% {
    opacity: 0.9;
  }
  30% {
    opacity: 0.4;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  60% {
    opacity: 0.8;
  }
  70% {
    opacity: 0.3;
  }
  80% {
    opacity: 0.95;
  }
  90% {
    opacity: 0.5;
  }
}
